@import url(variable.css);
*{
  padding: 0;
  margin: 0;
}

body.night-mode {
  --color-primary: #BAC8D9; 
  --color-secundary: #9BF272; 
  --text-color: #000000; 
  background-color: var(--color-primary);
}

/* Modo Noche */
body {
  --color-primary: #362a49;
  --color-secundary: #181918; 
  --text-color: #9BF272; 
  --text-color: #ffffff; 
  --highlight-color: #8BC34A;
  background-color: var(--color-primary);
}


.contenedorp {
    display: grid;
    grid-template-columns: 2, 1fr;
    background-color: var(--color-primary);
    max-width: 100vw;
    height: 775px;
    width: 100%;
    margin: 0 auto;
}


.contendorh{
    display: grid;
    grid-row: 1;
    grid-column: 1;
    width: 550px;
    background-color:var(--color-secundary)
}
.header {
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    position:fixed;
}

.logo h1 {
    color: #d4c2ff;
    font-size: 2rem;
    font-family: 'Cursive';
}
/* From Uiverse.io by gharsh11032000 */ 
.button1 {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 15px 30px;
    display: block;
    background-color: transparent;
    border: none;
    position: relative;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button1 span {
    font-family: "cursive";
    background: linear-gradient(-45deg, #63A4FF 0%, #83EAF1 100% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .button1:hover span {
    -webkit-text-fill-color: white;
  }
  
  .button1::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(2);
    border: 3px solid;
    border-image: linear-gradient(-45deg, #63A4FF 0%, #83EAF1 100% );
    border-image-slice: 1;
    border-width: 2px 0 2px 0;
    opacity: 0;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: -1;
  }
  .button1 span{
    font-size: 30px;
  }
  .button1:hover::before {
    transform: scaleY(0);
    opacity: 1;
  }
  
  .button1::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #ff63e8 0%, #83EAF1 100% );
    transform: scale(0);
    pointer-events: none;
    border-radius: 30px;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: -1;
  }
  
  .button1:hover::after {
    transform: scaleY(1);
  }
  
  .button1:active {
    scale: 0.90;
  }
  
  
.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-right: 20px;
}

.nav li {
    cursor: pointer;
    color: #fff;
}
/* boton de dia/noche */

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 5em;
    height: 2em;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 10px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

/* Estilos del switch */
.slider {
  --background: #20262c;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: 0.5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #ececd9, -4px 1px 4px 0px #dadada;
  background: var(--background);
  transition: 0.5s;
}

.decoration {
  position: absolute;
  content: "";
  height: 2px;
  width: 2px;
  border-radius: 50%;
  right: 20%;
  top: 15%;
  background: #e5f041e6;
  backdrop-filter: blur(10px);
  transition: all 0.5s;
  box-shadow: -7px 10px 0 #e5f041e6, 8px 15px 0 #e5f041e6, -17px 1px 0 #e5f041e6,
  -20px 10px 0 #e5f041e6, -7px 23px 0 #e5f041e6, -15px 25px 0 #e5f041e6;
}

input:checked ~ .decoration {
  transform: translateX(-20px);
  width: 10px;
  height: 10px;
  background: white;
  box-shadow: -12px 0 0 white, -6px 0 0 1.6px white, 5px 15px 0 1px white,
    1px 17px 0 white, 10px 17px 0 white;
}

input:checked + .slider {
  background-color: #5494de;
}

input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #efdf2b, 0 0 10px 0px #efdf2b;
}

  
/* boton de chekbox */ 
.hamburger {
    cursor: pointer;
    margin-right: 15px;
  }
  
  .hamburger input {
    display: none;
  }
  
  .hamburger svg {
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line-top-bottom {
    stroke-dasharray: 12 63;
  }
  
  .hamburger input:checked + svg {
    transform: rotate(-45deg);
  }
  
  .hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }
  #img1 { 
    width: 35vw;
    position: absolute;
    left: 30%; 
    top: 25%;
    transform: translateX(-50%); 
    z-index: 1;
}

#img2 {
    width: 20vw;
    position: absolute;
    left: 45%; 
    top: 1%;
    transform: translateX(-50%); 
    z-index: 1;
}
.button {
  position: relative;
  padding: 0;
  width: 100px;
  height: 105px;
  left: 70%;
  background: transparent;
  font-size: 17px;
  border: 1px solid #34333300;
  border-radius: 8px;
  box-shadow: inset 0 0 10px #0404041c;
  transition: all 0.3s ease;
}

body.night-mode .button {
  background-color: #d0caca; 
  color: #000000; 
}
.light-on {
  filter: brightness(2); 
}

.light-off {
  filter: brightness(0.5); 
}
.light-active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 135px;
  height: 65px;
  background: radial-gradient(circle at 100% -50%, #d0caca69 45%, #d4d4d44f 60%, #d0caca36 2%);
  background-size: 200%;
  background-repeat: no-repeat;
  filter: opacity(.3) blur(.3em);
  animation: light 1s forwards; /* Cambiar la duración si es necesario */
}


.button::after {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
  height: 100%;
  width: 100%;
  background-color: #d0caca;
  filter: blur(2em);
  opacity: 0;
  pointer-events: none;
}

.button:hover::after {
  animation: light 1s ease-in-out forwards;
}

@keyframes lightBox {
  0% {
    border: 1px solid #d0caca;
    box-shadow: 0 0 3px 0px #d0caca8a, inset 0 0 5px #d0caca8a;
  }

  100% {
    border: 1px solid #d0caca;
    box-shadow: 0 0 15px 0px #d0caca8a, inset 0 0 15px #d0caca8a;
  }
}

@keyframes light {
  0% {
    opacity: .5;
  }

  20% {
    opacity: 0;
  }

  30% {
    opacity: .5;
  }

  38% {
    opacity: 0;
  }

  45% {
    opacity: .5;
  }

  50% {
    opacity: 0;
  }

  53% {
    opacity: .5;
  }

  65% {
    opacity: 0;
  }

  100% {
    opacity: .5;
  }
}

@keyframes lightText {
  0% {
    color: #d0caca;
    text-shadow: 0 0 3px #d0caca8a;
  }

  20% {
    color: #d0caca;
    text-shadow: none;
  }

  30% {
    color: #d0caca;
    text-shadow: 0 0 6px #d0caca8a;
  }

  38% {
    color: #d0caca;
    text-shadow: none;
  }

  45% {
    color: #d0caca;
    text-shadow: 0 0 8px #d0caca8a;
  }

  50% {
    color: #d0caca;
    text-shadow: none;
  }

  53% {
    color: #d0caca;
    text-shadow: 0 0 10px #d0caca8a;
  }

  65% {
    color: #d0caca;
    text-shadow: none;
  }

  100% {
    color: #d0caca;
    text-shadow: 0 0 12px #d0caca8a;
  }
}

#img3 {
    width: 12vw;
    position: absolute;
    left: 10%; 
    top: 28%;
    transform: translateX(-50%); 
    z-index: 1;
}
.contendorh1{
    grid-row: 1;
    grid-column: 2;
    display: inline-block;
    margin-left: 1vw;
}
.title {
  font-family: "cursive", sans-serif;
  font-size: 2vw;
  color: var(--text-color); 
  margin-top: 8vw;    
  margin-left: 180px;
}

.contendorh1 h2 {
  font-size: 3.5rem;
  line-height: 1.2;
  color: var(--text-color); 
  margin-top: 2vw;
  font-family: "light";
  margin-left: 180px;
}

.highlight {
  color: var(--highlight-color); 
  font-weight: bold;
  font-family: "light";
}

#text{
    font-family: "medium", sans-serif;
    text-align: center;
    color: #000000;
    font-size: 1.6vw;
    padding: 1vw;
}