@import url(../css/variable.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: black;
    user-select: none;
    overflow: hidden; 
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    height: 100%; 
}

.button {
  margin: 0;
  position: relative;
  border: none;
  background: transparent;
  --stroke-color: #ffffff7c;
  --ani-color: rgba(95, 3, 244, 0);
  --color-gar: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  letter-spacing: 4px;
  font-size: 6vw; 
  font-family: "Arial", sans-serif; 
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--stroke-color);
  cursor: pointer;
  z-index: 1;
  bottom: 5rem;
}

.front-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  background: var(--color-gar);
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200%;
  overflow: hidden;
  transition: all 1s;
  animation: ani 10s infinite;
  border-bottom: 2px solid transparent;
}

@keyframes ani {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 400%;
    }

    100% {
        background-position: 0%;
    }
}

.parrafo {
  font-family: "light";
  color: white;
  font-size: 5vw; 
  letter-spacing: 5px; 
}
.cti {
  background-color: #1a1a1a;
  border: 2px ;
  width: 80vw; 
  border: 3px solid transparent;
  border-radius: 0.6em;
  transition: 0.2s;
  background-color: transparent;
  border: 3px solid #6019bd;
  box-shadow: 0px 0px 27px 5px #6019bd;
}


.CTI {
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 4vw;
  font-weight: bold;
  overflow: hidden;
  border-right: 4px solid transparent;
  white-space: nowrap;
  margin: 0 auto;
  border-right: 4px solid #6019bd; 
  animation: letters 2s steps(20, end), cursor .4s step-end infinite; 
}

@keyframes letters {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes cursor {
  from {
    border-color: transparent;
  }
  50% {
    border-color: #6019bd;
  }
}

@media (max-width: 600px) {
  .button {
    font-size: 8vw; 
  }

  .parrafo {
    font-size: 7vw;
  }

  .CTI {
    font-size: 6vw;
  }

  .cti {
    width: 90vw; 
  }
}

.botonhref {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; /* Ocupa toda la altura de la ventana */
  position: relative;
}

.btn {
  width: 3rem;
  height: 5rem;
  max-width: 100px;
  max-height: 100px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  outline: 2px solid rgb(105, 127, 255);
  box-shadow: 0px 0px 10px rgb(105, 127, 255);
  margin: 1rem 0;
  transition: all 0.3s ease;
}

.scroll {
  width: 4vw;
  height: 5vw;
  max-width: 10px;
  max-height: 10px;
  border-radius: 10px;
  background-color: rgb(105, 127, 255);
  box-shadow: 0px 0px 10px rgb(105, 127, 255);
  animation: scroll_4013 2s linear infinite;
  transform: translateY(40%);
}

.btn:after {
  position: absolute;
  top: 140%;
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 2vw;
}

@keyframes scroll_4013 {
  0% {
      transform: translateY(50%);
  }
  50% {
      transform: translateY(90%);
  }
}

@media (max-width: 600px) {
  .btn {
      width: 6vw;
      height: 10vw;
      margin-top: 10vw;
  }

  .scroll {
      width: 3vw;
      height: 3vw;
  }

  .btn:after {
      font-size: 4vw;
  }
}
