:root{
    --color-primary: hsl(316, 30%, 36%);
    --color-secundary: hsl(240, 3%, 7%);
    
}
@font-face {
    font-family: "cursive";
    src: url(../storage/fonts/static/PlaywriteGBS-Italic.ttf);
}
@font-face {
    font-family: "light";
    src: url(../storage/fonts/static/Bitter-Black.ttf);
}