<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/home.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script defer src="../js/home.js"></script>
</head>
<body>
    <header class="header">
        <div class="logo">
            <button class="button1"><a href="../index.html"><span>Home</span></a></button>
        </div>
        <nav class="nav">
            <ul>
                <label for="switch" class="switch">
                    <input id="switch" type="checkbox" />
                    <span class="slider"></span>
                    <span class="decoration"></span>
                </label>

                <label class="hamburger">
                    <input type="checkbox">
                    <svg viewBox="0 0 32 32">
                        <path class="line line-top-bottom" d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"></path>
                        <path class="line" d="M7 16 27 16"></path>
                    </svg>
                </label>
            </ul>
        </nav>
    </header>
    <div class="contenedorp">
        <div class="contendorh">
            <img src="../storage/img/escitorio.png" id="img1"> <!-- Imagen de fondo -->
            <button class="button">
                <img src="../storage/img/rb_47302.png" id="img">
            </button>            
        </div>
        <div class="contendorh1">
            <p class="title">👋 Hi, I'm <span>William</span></p>
            <h2>
                Backend Developer <span class="highlight">I like</span><br>
                to be creative,<br>
                and I like <span class="highlight">perfection</span> in the <span class="highlight">details</span>
            </h2>
        </div>
    </div>
</body>
</html>
